* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  color: #FFF;
  font-size: 2.2rem;
  border-bottom: solid 2px #66d891;
}

h2 {
  color: white;
  font-weight: 100;
  font-size: 2rem;
}

p {
  color: #FFF;
  font-weight: 300;
  line-height: 1.8rem;
}

a {
  color: white;
}